/* Googlefont Rubik CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@200;300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
.seperator{
    padding-bottom: 100px;
}

.divider {
    padding-top: 5px;
  }
/* -------------------------sidebar -----------------*/
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #141517;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details p{
  font-size: 28px;
  font-weight: 500;
  color: #86ff71;
  font-family: 'Anurati';
  text-align: center;
  padding-left: 12px;
  padding-right: 12px;
}
.sidebar .logo-details .logo_name{
  color: #80868B;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Azonix';
  margin-top: 10px;
  background: -webkit-linear-gradient(#eee, rgb(99, 99, 99));
  -webkit-background-clip: text;
  background-clip: text;;
  -webkit-text-fill-color: transparent;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #292b2e;
}
.sidebar .nav-links li a:hover{
  background: #292b2e;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details i{
  font-size: 25px;
  color: #333;
}
.home-section .home-content{
  position: relative;
  padding-top: 104px;
  padding-left: 30px;
  padding-right: 30px;
}

.box .indicator i.down{
  background: #e87d88;
}

/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}

.fade-effect1{
  display:block;
  border:none;
  color:white;
  height:2px;
  background:black;
  background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from(#ffffff39), to(#121317));


}

.dwnpart{
    display: flex;
    padding-right: 100px;
    padding-left: 100px;
}

.dwnpart .rsd{
    width: 55%;
    padding: 10px;
    padding-right: 30px;
    background-color: white;
    margin-left: 3%;
    border-radius: 10px;
}
.left{
    width: 40%;
    border: 2px solid #86ff711a;
    padding: 30px 10px 30px 10px;
    border-radius: 10px;
    background-color: white;
    height: 80%;
}
.left .avatar img{
    width: 200px;
    border-radius: 50%;
    border: 2px solid #86ff71;
    transition:transform 0.25s ease;   
}
.avatar img:hover {
    -webkit-transform:scale(1.2); /* or some other value */
    transform:scale(1.2);
    cursor: pointer;
}

.avatar, .name-trainer , .joined-date  {
    text-align: center;
    display: block;
    padding-top: 10px;
}
.review .member .member-avatar img{
    width: 50px;
    border-radius: 40px;
    margin-right: 10px;
    border: 2px solid #86ff71;
}
.left .joined-date p{ 
    font-family: 'Rubik';
    size: 14px;
    color: black;
}
.left .name-trainer p{
    font-family: 'Azonix';
    size: 20px;
    color: black;
}

.left .stat{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color:#86ff71 ;
    margin-top: 20px;
    border-radius: 50px;
    margin-left: 20px;
    padding: 5px 10px 5px 10px;
}

.left .stat .exp{
    width: 33%;
    display: flex;
    justify-content: center;
    border-right: 2px solid #121317 ;
}


.left .stat .exp p , .left .stat .rate p , .left .stat .review-count p{
    text-align: center;
    font-family: 'Azonix';
    font-size: 14px;
}

.left .stat .rate{
    width: 33%;
    border-right: 2px solid #121317 ;
}

.left .stat .review-count{
    width: 33%;
}
.left .about , .left .qualifications{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.left .about p {
    font-family: 'Rubik';
    size: 15px;
    color: black;
    text-align: justify;
    margin: 0%;
    
}

.left .about h4, .left .qualifications h4{
    font-family: 'Azonix';
    size: 20px;
    color: black;
    padding-bottom: 5px;
    margin: 0%;
    /* text-align: justify; */
    
}
.fade-effect2{
    display:block;
    border:none;
    color:white;
    height:2px;
    background:black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 300, from(#86ff71), to(white));
    margin-bottom: 20px;
  }

/* scrollbarscrollbar */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121317; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.308); 
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #86ff71; 
}

